/*
 * @package Studium_Ausland
 * @IE7 :before replacements
 */

#page h1.boxheading {
	background-color: #aaa;
	line-height: 1.5em;
}
.ad:before,
#visits:before {
	content: none !important;
}
.ad-fullwidth a {
	margin-bottom: -.4em;
}